@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="panel panel-primary">

                <div class="panel-heading"> MAIN CONFIGURATION SETTINGS</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">

                    <div class="panel-heading">INDUSTRIES</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">

                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>

                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">

                    <div class="panel-heading">SIGNIFICANT ACCOUNTS</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">

                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>

                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>