@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="panel panel-primary">

            <div class="panel-heading">INTRODUCTION</div>
            <div class="panel-body">
                <div class="col-md-8">
                    This library is a consolidation of all D&A routines performed by the different audit deaprtments in KPMG Southern Africa.
                    <br /><br />
                    This webapp can be used: <br />
                    - as guidance on the types of possible routines to perform on your audits <br />
                    - possibly reuse any solutions that have already been automated <br />
                    - generate and reuse ideas from one client to the next <br /><br />

                    <p style="color: red">
                        This D&A Library is not a DPP pre-approved list of routines that one can just choose from, but rather the library is to provide guidance on possibilities that have been successful in the past on other clients.
                    </p> <br />

                    Please contribute to the library through adding your success stories by contacting one of the D&A team members

                </div>
                <div class="col-md-4">

                    <img src="~/Content/kpmg.PNG" style="max-width: 100%" />
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">

            <div class="panel-heading"> BROWSE BY CLIENT, INDUSTRY, SIGNIFICANT ACCOUNT &amp; ASSERTION OR AUDIT EVIDENCE TYPE</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>